{% extends "partials/base.html.twig" %}

{% block title %}Home{% endblock %}


{% block stylesheets %}
<link rel="stylesheet" href="assets/css/style.css">
{% endblock %}

{% block header %}

{% endblock %}

{% block body %}
<h1>Welcome</h1>
{% for exemple in result %}

<p>{{ exemple.id_film }}</p>
<p>{{ exemple.titre }}</p>
<p>{{ exemple.annee_sortie }}</p>
<p><img src='../Uploads/posters/' . {{ exemple.affiche }}></p>
<p><a href="{{baseUrl}}/exemple/show/{{exemple.id_film}}">Lien</a></p>
{% endfor %}

{% endblock %}

{% block footer %}

{% endblock %}

{% block javascripts %}
{% endblock %}