{% extends "partials/base.html.twig" %}

{% block title %}{{ result.titre }}{% endblock %}


{% block stylesheets %}
<link rel="stylesheet" href="../assets/css/style.css">
{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
<h1 style="text-align: center;">Your Selected Movie</h1>
<div class="card mb-3 text-white bg-dark mx-auto" style="max-width: 1000px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      {# <img src='{{ baseUrl }}/Uploads/posters/{{ movieDetails.affiche }}' class="img-fluid"> #}
      <img src='/Uploads/posters/{{ movieDetails.affiche }}' class="img-fluid">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ movieDetails.titre }},&nbsp;{{ movieDetails.annee_sortie }}</h5>
        <p class="card-text"><strong>Starring:</strong></p>
        <ul>
        {% for exemple in result %}
          <li class="card-text">{{ exemple.prenom_artiste }} {{ exemple.nom_artiste }}{% if not loop.last %},&nbsp;{% endif %}</li>
        {% endfor %}
        </ul>
        <p class="card-text"><strong>Synopsis:</strong></p>
        <p class="card-text">{{ movieDetails.synposis }}</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}

{% endblock %}

{% block javascripts %}
{% endblock %}