{% extends "admin/partials/base.admin.html.twig" %}

{% block title %}Edit Movie | Admin{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ baseUrl }}/assets/css/formStyle.css">
{% endblock %}

{% block body %}
    {% set arrayArtist = {1: ['Kubrick', 'Stanley', 1928], 2: ['Hayao', 'Miyazaki', 1941], 3: ['Jean-Pierre', 'Michel', 1985] } %}
    {% set arrayMovie = {1: ["The Wind Rises", 2012], 2: ["2001: A Space Odyssey", 1968], 3: ["The Imitation Game", 2014] } %}
    {% set arrayGenre = {1: "Science-fiction", 2: "Action", 3: "Comedy", 4: "Romance", 5:"Historical fiction", 6: "Animation"} %}
    <div class="container mt-5" id="form-container">
        <form action="{{ baseUrl }}/admin/movie/edit" method="post" id="form-data" class="pb-3">

            <div class="input-group">
                <div class="input-group-prepend form-group">
                    <label class="input-group-text" for="movie-edit-old">Movie:</label>
                </div>
                <select class="custom-select" name="movie-edit-old" id="movie-edit-old">
                    <option value="">--Please choose a movie--</option>
                    {% if arrayMovie is defined %}
                        {% for id, movie in arrayMovie %}
                            <option name="{{ id }}" id="{{ id }}">{{ movie.1 }} - {{ movie.0 }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>


            <div class="form-group hidden">
                <label for="movie-title-edit">Title:</label>
                <input type="text" name="movie-title-edit" id="movie-title-edit" class="form-control" autofocus
                       required>
            </div>


            <div class="input-group pb-3 hidden" id="genre-text">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="movie-genre-edit">Genre:</label>
                </div>
                <select class="custom-select hidden" name="movie-genre-edit" id="movie-genre-edit">
                    <option value="">--Please choose a genre--</option>
                    {% if arrayGenre is defined %}
                        {% for id, genre in arrayGenre %}
                            <option name="{{ id }}" id="{{ id }}">{{ genre }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>


            <div class="input-group pb-3 hidden" id="genre-text">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="movie-director-edit">Director:</label>
                </div>
                <select class="custom-select" name="movie-director-edit" id="movie-director-edit">
                    <option value="">--Please choose an artist--</option>
                    {% if arrayArtist is defined %}
                        {% for id, fullName in arrayArtist %}
                            <option name="{{ id }}" id="{{ id }}">{{ fullName.0 }} {{ fullName.1 }}
                                - {{ fullName.2 }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>


            <div class="form-group hidden">
                <label for="movie-year-edit">Release year:</label>
                <input type="number" name="movie-year-edit" id="movie-year-edit" class="form-control" required>
            </div>


            <div class="form-group hidden">
                <div class="pb-4" id="previous-poster-group">
                    <input class="btn btn-primary" id="previous-poster-btn" type="button" value="See previous poster"
                           data-toggle="collapse"
                           data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">

                </div>
                <div class="collapse" id="collapseExample">
                    <div class="d-flex justify-content-center">
                        <img src="" alt="" id="movie-poster-preview" class="w-50">
                    </div>
                </div>
                <label for="file">New Poster:</label>
                <div class="custom-file">
                    <label for="movie-poster-edit" class="custom-file-label text-left">Movie poster</label>
                    <input id="movie-poster-edit" name="movie-poster-edit" class="custom-file-input"
                           type="file">
                </div>
            </div>


            <div class="form-group hidden">
                <label for="movie-synopsis-edit">Synopsis:</label>
                <textarea name="movie-synopsis-edit" id="movie-synopsis-edit" class="form-control" rows="5"></textarea>
            </div>


            <div class="hidden" id="form-btn-group">
                <input type="submit" value="Edit movie" class="btn btn-primary">
                <input type="reset" value="Reset" class="btn btn-danger">
            </div>
        </form>
        {% if addArtist is defined %}
            {% if addArtist == true %}
                <div class="alert alert-success" role="alert">
                    Movie added with success !
                </div>
            {% else %}
                <div class="alert alert-danger" role="alert">
                    Error when adding movie !
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts %}
    <script src="{{ baseUrl }}/assets/js/movieFileInputForm.js"></script>
{% endblock %}