{% extends "partials/base.html.twig" %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1 class="text-center mb-0 pb-3">Your Favorite Movies Database</h1>
    <div class="back_page">
        <div class="container">
            <div class="row pt-4">
                {% for movie in moviesArray %}
                    <div class="col-md-3">
                        <div class="card text-white bg-dark mb-4">
                            <a href="{{ baseUrl }}/show/{{ movie.movie_id }}">
                                <img src='{{ baseUrl }}/Uploads/posters/{{ movie.poster }}' class="card-img img-size" alt="Poster {{ movie.poster }}">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">{{ movie.title }}</h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts %}
{% endblock %}